.card{
    display: flex;
    justify-content: center;
}
.articles{
    padding:30px 50px; 
    margin:10px 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 13px 7px rgba(0, 0, 0, 0), -5px -5px 24px 7px rgba(0,0,0,0.22);
    transition: all 0.5s ease;
    background: url("https://imgur.com/zIXFDjQ.jpg");
}
  
.articles:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 13px 9px rgba(0, 0, 0, 0), -5px -5px 24px 7px rgba(0,0,0,0.29);
}
.articles h2 {
    font-family: 'Indie Flower', cursive;
    letter-spacing: 4px;
    color: white;
}
.articles p {
    margin-top: 20px;
    line-height: 1.7;
    color: white;
}
.mainButton{
    text-align: center;
    margin-top: 20px;
}
.mainButton button {
    text-decoration: none;
    padding:10px;
    border-radius: 7px;
    background-color: pink;
    border: none;
    font-size: 16px;
    color: white;
    transition: all 0.5s ease; 
}
.mainButton button:hover{
    background-color: palegoldenrod;
    transform: scale(1.1);
    border: 3px solid pink;
}