header{
    display: grid;
    width: 100%;
    text-align: center;
    line-height: 1.7;
}
.myPost{
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    margin-left: 30px;
}
.author{
    align-self: center;
    line-height: 1.7;
}
.author q {
    color: grey;
}

.avatar img{
    margin-left: 50px;
    width: 100px;
    height: 1000;
}
.theArticle{
    margin: 50px 50px;
    border: 3px solid grey;
    padding: 30px;
}
.theArticle h2{
    font-family: 'Indie Flower', cursive;
    margin-bottom: 20px;
}
.theArticle blockquote{
    line-height: 1.7;
    color: grey;
    margin-bottom: 30px;
}
.theArticle h3{
    font-family: 'Indie Flower', cursive;
}
.theArticle ol {
    color: grey;;
}
.theArticle li {
    line-height: 1.5;
}
.socialIcons{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    grid-gap: 100px;
    margin: 50px 0px;
}
.socialIcons a{
    color:grey;
}
